aside.sidebar
    #leftside-navigation.nano
        ul.nano-content
            li
                a(href='index.html')
                    i.fa.fa-dashboard
                    span Dashboard
            li.sub-menu
                a(href='javascript:void(0);')
                    i.fa.fa-cogs
                    span UI Elements
                    i.arrow.fa.fa-angle-right.pull-right
                ul
                    li
                        a(href='ui-alerts-notifications.html') Alerts &amp; Notifications
                    li
                        a(href='ui-panels.html') Panels
                    li
                        a(href='ui-buttons.html') Buttons
                    li
                        a(href='ui-slider-progress.html') Sliders &amp; Progress
                    li
                        a(href='ui-modals-popups.html') Modals &amp; Popups
                    li
                        a(href='ui-icons.html') Icons
                    li
                        a(href='ui-grid.html') Grid
                    li
                        a(href='ui-tabs-accordions.html') Tabs &amp; Accordions
                    li
                        a(href='ui-nestable-list.html') Nestable Lists
            li.sub-menu
                a(href='javascript:void(0);')
                    i.fa.fa-table
                    span Tables
                    i.arrow.fa.fa-angle-right.pull-right
                ul
                    li
                        a(href='tables-basic.html') Basic Tables
                    li
                        a(href='tables-data.html') Data Tables
            li.sub-menu
                a(href='javascript:void(0);')
                    i.fa.fa.fa-tasks
                    span Forms
                    i.arrow.fa.fa-angle-right.pull-right
                ul
                    li
                        a(href='forms-components.html') Components
                    li
                        a(href='forms-validation.html') Validation
                    li
                        a(href='forms-mask.html') Mask
                    li
                        a(href='forms-wizard.html') Wizard
                    li
                        a(href='forms-multiple-file.html') Multiple File Upload
                    li
                        a(href='forms-wysiwyg.html') WYSIWYG Editor
            li.sub-menu.active
                a(href='javascript:void(0);')
                    i.fa.fa-envelope
                    span Mail
                    i.arrow.fa.fa-angle-right.pull-right
                ul
                    li.active
                        a(href='mail-inbox.html') Inbox
                    li
                        a(href='mail-compose.html') Compose Mail
            li.sub-menu
                a(href='javascript:void(0);')
                    i.fa.fa-bar-chart-o
                    span Charts
                    i.arrow.fa.fa-angle-right.pull-right
                ul
                    li
                        a(href='charts-chartjs.html') Chartjs
                    li
                        a(href='charts-morris.html') Morris
                    li
                        a(href='charts-c3.html') C3 Charts
            li.sub-menu
                a(href='javascript:void(0);')
                    i.fa.fa-map-marker
                    span Maps
                    i.arrow.fa.fa-angle-right.pull-right
                ul
                    li
                        a(href='map-google.html') Google Map
                    li
                        a(href='map-vector.html') Vector Map
            li.sub-menu
                a(href='typography.html')
                    i.fa.fa-text-height
                    span Typography
            li.sub-menu
                a(href='javascript:void(0);')
                    i.fa.fa-file
                    span Pages
                    i.arrow.fa.fa-angle-right.pull-right
                ul
                    li
                        a(href='pages-blank.html') Blank Page
                    li
                        a(href='pages-login.html') Login
                    li
                        a(href='pages-sign-up.html') Sign Up
                    li
                        a(href='pages-calendar.html') Calendar
                    li
                        a(href='pages-timeline.html') Timeline
                    li
                        a(href='pages-404.html') 404
                    li
                        a(href='pages-500.html') 500