section(class='card')
    img(src='/images/cyndaquil.jpg')
    h1 Will Dudley
    p(class='title') MSc Student
    p Imperial College London
    a(href='https://github.com/WillDudley')
        i(class='fa fa-github')
    a(href='https://www.linkedin.com/in/williamldudley/')
        i(class='fa fa-linkedin')
    p(class='link-container')
        a(class='CVemail' href='/pdfs/text.pdf' target="_blank" rel="noopener noreferrer") CV
        a(class='CVemail' href='mailto:wldudley@outlook.com') Contact