extends layout

block content


  h1= title
  h4= "Click button below to see a photo of a beach"

  <form id="show">
  <button type="submit" class="btn btn-primary btn-margin">Show</button>
  </form>

  <div id="img">

  </div>

  <div class="image1">
  <img src="img/image1.png" alt="photo of beach" id="img1">
  <img src="img/image2.png" alt="photo of lake" id="img2">
  </div>