doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= 'Will Dudley'
    link(rel='stylesheet', href='/stylesheets/style.css')

  div(class='header')
    h1 Chania

  div(class='row')
    div(class='col-3 menu')
      ul
        li Flight
        li City
        li Island
        li Food

    div(class='col-9')
      h1 City
      p ppppppppppppppppppppppppppppppppppppppppppppppp pppppp


